*{
 box-sizing: border-box;
}
body{
 margin: 0;
 padding: 0;
 font-family: 'Inter', sans-serif;
 
}
:root{
 /* Primary  */
 --soft-orange:hsl(35, 77%, 62%);
 --soft-red:hsl(5, 85%, 63%);

 /* Neutral */
 --off-white:hsl(36, 100%, 99%);
 --grayish-blue:hsl(233, 8%, 79%);
 --dark-grayish-blue:hsl(236, 13%, 42%);
 --very-dark-blue:hsl(240, 100%, 5%);
}

header,.container{
  max-width: 950px;
  margin: 0 auto;
  
}
/* navbar and hamburger menu */
/* start */
li{
  list-style: none;
}
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1em 0 ;
  

}
.nav-menu{
  display: flex;
  gap: 1em;
}
a{
  font-size: 0.9375rem;
  line-height: 26px;
  text-decoration: none;
  color: var(--dark-grayish-blue);
}
a:hover{
  color: var(--soft-orange);
}
.hamburger{
  display: none;
  cursor: pointer;
  position: relative;
  margin-right: 1em;
  height: 14px;
  width: 40px;
}
.hamburger span {
  background-color: black;
  height: 3px;
  position: absolute;
  left: 0;
  width: 100%;
  transition: all 0.3s ease-in-out;
}

.hamburger span:first-child {
  top: 0;
}
.hamburger span:nth-child(2){
  top: 6px;
}
.hamburger span:last-child{
  top: 12px;
}
/* End */


/* desktop  */
/* Start */
.container{
 display: grid;
 grid-template-columns: repeat(3 ,auto);
 grid-template-rows: auto auto;
 grid-template-areas:
  'img img side'
  'p p2 side' 
  'd i v'
 ;
 gap: 10px;

}

.box1{
 grid-area:img ;
}
.desktop-img{
 width: 100%;
}
.box2{
 grid-area: side;
 background-color: var(--very-dark-blue);
 padding: 1em;
 margin-bottom: 4.4375em;
}
hr{
 border-color: var(--dark-grayish-blue);
}
.box2 h1{
  color: var(--soft-orange);
 
  font-size: 2.5rem;
  line-height: 40px;
  margin-top: 0.8em;
  margin-bottom: 0;
}
.box2 .title{
 color: var(--off-white);

 font-weight: 800;
 font-size: 1.25rem;
 margin-top: 1.7em;
 margin-bottom: 0;
 
}
.box2 .desc{

 font-size: 0.9375rem;
 line-height: 26px;
 color: var(--grayish-blue);
 margin-top: .53em;
}
.box3{
 grid-area: p;
 margin-top: -1.75em;
 
}
.box3 p {
  
  font-weight: 800;
  font-size: 3.5rem;
  line-height: 100%;

  
  color: var(--very-dark-blue);
  
}
.box4{
 grid-area: p2;
 margin-top: 1.75em;
 margin-bottom: 4.4375em;
}
.box4 p {
 font-weight: 400;
 font-size: 0.9375rem;
 line-height: 26px;
}
.box4 a{
 font-weight: 700;
 font-size: 0.875rem;
 
 letter-spacing: 4.375px;
 padding: .86em 2.21em;
 background-color: var(--soft-red);
 color: var(--off-white);
}
.box4 a:hover,.box4 a:focus{
  background-color: var(--very-dark-blue);
  color: var(--off-white);
}
.box5 ,.box6 ,.box7{
  display: flex;
  align-items: center;
}
.box5{
 
 grid-area: d;
 
}
.box5 > div,
.box6 > div,
.box7 > div{
 margin-right: 1em;
}
.box5 img,
.box6 img,
.box7 img{
 width: 100px;
}
.box5 .num,
.box6 .num,
.box7 .num{
 font-weight: 700;
 font-size: 2rem;
 line-height: 32px;
 color: var(--grayish-blue);
 margin-bottom: 0;
 margin-top: 0;
}
.box5 .title,
.box6 .title,
.box7 .title{
 font-weight: 800;
 font-size: 1.125rem;
 line-height: 24px;
 margin-top: .7em;
 margin-bottom: 0;
 
}
.box5 .desc,
.box6 .desc,
.box7 .desc {

 font-size: 0.9375rem;
 line-height: 26px;
 color: var(--dark-grayish-blue);
 margin-top: .6em;
}
.box6{

 grid-area:i;
}
.box7{
 grid-area: v;
}
/* End */

/* Mobile */
/* start */

@media(max-width:768px) {
  .hamburger {
    display: block;
  }

  .hamburger.active span:first-child,
  .hamburger.active span:last-child {
    top: 6px;
  }

  .hamburger.active span:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active span:first-child {
    transform: rotate(45deg);
  }

  .hamburger.active span:last-child {
    transform: rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    flex-direction: column;
    background-color: var(--off-white);
    left: 100%;
    top: -16px;
    min-height: 100vh;
    width: 80%;
    transition: 0.3s;
    padding: 6em 0 0 2em;
  }
  .nav-menu a{
    font-size: 1.25rem;
    line-height: 24px;
  }

  .nav-menu.active {
    left: 135px;
  }

  main {
    padding: 1em;
  }

 

  .container {
    grid-template-columns: auto;
    grid-template-areas:
      'img'
      'p'
      'p2'
      'side'
      'd'
      'i'
      'v'
    ;


  }

  .box1 img {
    content: url('images/image-web-3-mobile.jpg');
    width: 100%;
  }

  .box3 {

    margin-bottom: 0;
  }

  .box3 p {
    font-size: 2.5rem;
  }

  .box4 {
    margin-top: 0;
  }
  .box4 p{
    margin-bottom: 3em;
  }
}

/* end */